@import '~antd/dist/antd.less';
@import '~antd/es/style/themes/default.less';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.wrapper{
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    

}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: 
     url(https://i.postimg.cc/4x9SxgnT/edev.png) left bottom no-repeat ;
     background-size: 200px;
}
.input {
    width: 300px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form>div{
    margin-bottom: 15px;
}
.submit  {
  margin: 10px auto;
  width: 100%;
  background: #336666;
  border: none;
}
.submit:hover {
    background: #336666;
    opacity: 0.8;
    border: none;
} 
.submit:visited  {
    background: #336666;
  
} 

.logo {
    margin-top: -150px;
    margin-bottom: 130px;
}
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fogot-password{
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
}
h1 {
    font-size: 30px;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
   
}

.contentBlock{
      flex:4;
      padding: 10px;
}
.navbar{
    height: 100vh;
    padding: 30px 0px;
    flex: 1;
    background: linear-gradient(to top, #006666 2%, #009999 100%);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}
.navbar__header{
 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon{
    cursor: pointer;
}
.navbar__block {
    display: flex;
    flex-direction: column;
   
} 

.navMenu{
    padding: 30px 0 0 20px;
}
.exit {
     display: flex; 
    justify-content: center;
}
span {
    cursor: pointer;
    padding-left: 7px;
}

.menu-antd {
    background: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
}
.add-btn{
    background: #336666;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
    
}
.subBlock {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

.add-new-person-block {
    display: flex; 
}



