@import '~antd/dist/antd.less';
@import '~antd/es/style/themes/default.less';
@import './colors.less';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p{
    margin: 0;
}
.wrapper{
    background: #ffffff;
    width: 100vw;
    height: 100vh;
}


.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: 
     url(https://i.postimg.cc/4x9SxgnT/edev.png) left bottom no-repeat ;
     background-size: 200px;
}
.input {
    width: 300px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form>div{
    margin-bottom: 15px;
}
.submit  {
  margin: 10px auto;
  width: 100%;
  background: #336666;
  border: none;
}
.submit:hover {
    background: #336666;
    opacity: 0.8;
    border: none;
} 
.submit:visited  {
    background: #336666;
  
} 

.logo {
    margin-top: -150px;
    margin-bottom: 130px;
}
.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fogot-password{
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
}
h1 {
    font-size: 30px;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
   
}

.contentBlock{
      flex:4;
      padding: 10px;
}
.navbar{
    height: 100vh;
    padding: 30px 0px;
    flex: 1;
    background: linear-gradient(to top, #006666 2%, #009999 100%);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}
.navbar__header{
 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon{
    cursor: pointer;
}
.navbar__block {
    display: flex;
    flex-direction: column;
   
} 

.navMenu{
    padding: 30px 0 0 0px;
}
.exit {
     display: flex; 
    justify-content: center;
}
span {
    cursor: pointer;
    padding-left: 7px;
}


.add-btn{
    background: linear-gradient(to top, #006666 2%, #009999 100%);
    color: white;
    border-radius: 5px;
    margin-right: 15px;    
}

.add-btn:hover{
    transition: 0.5s linear;
    background: #008;
}

.subBlock {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

.add-new-person-block {
    display: flex; 
}
.name-module {
    font-size: 24px;
    font-weight: 600;
    margin-left: 2rem;
}
.block-module-title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.block-color-container {
    margin-top: 10px;
    display: flex;
}
.block-color{
    width: 20px;
    margin-left: 5px;
    height: 20px;
    cursor: pointer;
    
}
.module_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
  align-items: center;
  justify-items: center;

    margin:20px  auto;
    gap: 1em;
 align-self: center;

}
.cards-module {
    width: 200px;
    border: 1px solid #336666;
    height: 100px;
}
.cards-module-block {
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.title-module{
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
}

.block-icons  {
    display: flex;
    justify-content: end;
}
.block-icons>div{
    margin-right: 5px;
}
.block-icons img{
    cursor: pointer;
}

.circle {
    height: 30px;
    width: 60px;
    margin-top: 10px;
    border-radius: 5px;
}
.border {
    border: 3px solid black;
}
.edit-input {
    width: 100px;
}
.menu a{
    color: white;
    font-size: 20px;
}

.menu a:hover{
   text-shadow: 1px 1px 15px  white;
}


.menu{
    display: flex;
    flex-direction: column;
}
.menu span{
  
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
.active{
    background: rgb(253, 195, 103);
}



